@font-face {
    font-family: chineseFont;
    src: url('../../styles/fonts/SentyWEN2017.ttf');
}

#about-us-hero-container {
    background-image: url(../../images/ClassPic5.webp);
    background-size: cover;
    margin-top: 0.4rem;
    height: 25vw;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;
    justify-content: center;
}

#about-us-hero-text {
    color: white;
    font-size: 10vw;
    text-shadow: 2px 2px 4px black;
}

#about-us-hero-text.chinese {
    font-family: chineseFont;
}

/* mobile */
@media (max-width:500px) { 
    #about-us-hero-container {
        height: 50vw;
        align-items: center;
    }

    #about-us-hero-text {
        font-size: 15vw;
    }
}