* {
    margin: 0;
}

#header-wrapper-3 {
    /* border-bottom: 0.45vh solid lightgray; */
    padding-top: 0.7vh;
    /* padding-bottom: 0.7vh; */
}

#header-wrapper-2 {
    border-top: 0.45vh solid darkgray;
    border-bottom: 0.45vh solid darkgray;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

#header-wrapper-1 {
    border-top: 0.5vh solid darkred;
    border-bottom: 0.5vh solid darkred;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    padding-left: 5rem;
    height: 4.33rem;
    gap: 3rem;
}

#english-header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 4.33rem;
}

#english-header-nav{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    background-color: gray;
}

#english-header-language {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 9rem;
    background-color: pink;
}

.english-header-language-flag {
    object-fit: cover;
    object-position: 30% 70%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}