@font-face {
    font-family: chineseFont;
    src: url('../styles/fonts/SentyWEN2017.ttf');
}

#header-wrapper-3 {
    padding-top: 0.35rem;
}

#header-wrapper-2 {
    border-top: 0.2rem solid darkgray;
    border-bottom: 0.2rem solid darkgray;
    padding-top: 0.29rem;
    padding-bottom: 0.29rem;
}

#header-wrapper-1 {
    border-top: 0.29rem solid darkred;
    border-bottom: 0.29rem solid darkred;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    padding-left: 5vw;
    height: 4.33rem;
    gap: 3rem;
}

#header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 4.33rem;
}

#header-nav{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    fill: darkred;
}

#header-nav>a {
    text-decoration: none;
}

#selected-header-page {
    background-color: darkred;
    border-radius: 1rem;
    fill: white;
}

#selected-header-page>div {
    color: white;
}

.header-btn {
    color: darkred;
    fill: darkred;
    padding: 0.5rem;
}

.header-btn.english {
    font-size: 1.2rem;
    text-align: center;
    
}

.header-btn:hover, .header-btn:focus {
    color: white;
    background-color: darkred;
    border-radius: 15px;
    
}

.header-btn.chinese {
    font-family: chineseFont;
    font-size: 1.45rem;
    padding: 0.25rem;
}

#header-language {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 9rem;
    gap: 1rem;
    text-decoration: none;
    color: inherit;
}

#header-language:hover {
    background: darkred;
    color: white;
    border-radius: 25px;
}

.header-language-flag {
    object-fit: cover;
    object-position: 30% 70%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

#header-nav-hamburger {
    display: none;
}

.header-btn-icon {
    display: none;
}

/* laptops */
@media (min-width: 769px) and (max-width:1024px) {
.header-btn.english {
    font-size: 1.75vw;
    }

.header-btn.chinese {
    font-size: 1.75vw;
    }
}

/* tablets */
@media (min-width: 600px) and (max-width:768px) {
    #header-wrapper-1 {
        padding-left: 0.25rem;
        height: 3rem;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        gap: 4vw;
    }

    #header-logo {
        height: 3rem;
        width: 4rem;
    }

    #header-nav {
        display: flex;
        justify-content: space-between;
    }

    .header-btn.english {
        font-size: 1.5vw;
    }

    .header-btn.chinese {
        font-size: 2vw;
    }

    #header-language {
        height: 2.5rem;
    }

    .header-language-flag {
        height: 2.5rem;
        width: 2.5rem;
    }
}

/* mobile portrait */
@media (max-width:599px) {
#header-wrapper-1 {
    padding-left: 0rem;
    background-color: white;
    height: 3rem;
    display: grid;
    justify-content: 1fr 5fr 1fr;
    gap: 2vw;
}

#header-logo {
    height: 3rem;
    width:4rem;
}

#header-nav {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.header-btn-icon {
    display: unset;
    height: 2.5rem;
    fill: inherit;
}

.header-btn {
    display: none;
}

#header-language {
    width: unset;
    padding: unset;
    gap: unset;
}

.header-language-flag {
    height: 2.5rem;
    width: 2.5rem;
}

#header-language:hover {
    background-color: unset;
}

.header-language-name {
    display: none;
}
}

