@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Raleway:wght@600&display=swap');
@font-face {
    font-family: chineseFont;
    src: url('../styles/fonts/SentyWEN2017.ttf');
}

* {
    margin: 0;
}

#header-wrapper-3 {
    padding-top: 0.35rem;
}

#header-wrapper-2 {
    border-top: 0.2rem solid darkgray;
    border-bottom: 0.2rem solid darkgray;
    padding-top: 0.29rem;
    padding-bottom: 0.29rem;
}

#header-wrapper-1 {
    border-top: 0.29rem solid darkred;
    border-bottom: 0.29rem solid darkred;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    padding-left: 5rem;
    height: 4.33rem;
    gap: 3rem;
}

#header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 4.33rem;
}

#header-nav{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
}

.header-btn {
    text-decoration: none;
    color: darkred;
    padding: 0.5rem;
}

.header-btn.english {
    font-family: 'Mulish', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    
}

.header-btn:hover, .header-btn:focus {
    color: white;
    background-color: darkred;
    border-radius: 15px;
    
}

.header-btn.chinese {
    font-family: chineseFont;
    font-size: 1.5rem;
    padding: 0.25rem;
}

#header-language {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 9rem;
    gap: 1rem;
    text-decoration: none;
    color: inherit;
}

#header-language:hover {
    background: darkred;
    color: white;
    border-radius: 25px;
}

.header-language-flag {
    object-fit: cover;
    object-position: 30% 70%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

#header-nav-hamburger {
    display: none;
}

/* mobile portrait */
@media (max-width:500px) {
#header-wrapper-1 {
    padding-left: 0rem;
    background-color: white;
    height: 3rem;
    grid-template-columns: 5fr 1fr;
}

#header-logo {
    height: 3rem;
    width:4rem;
}

#header-nav {
    display: none;
}

.header-btn.english{
    font-size: 1rem;
}

.header-btn.chinese {
    font-size: 1rem;
}

#header-language {
    display: none;
}

#header-nav-hamburger {
    background-color: pink;
}

}