@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

#our-classes-hero-container {
    margin-top: 0.4rem;
    background-color: pink;
    height: 26.2rem;
    padding-top: 0rem;
    background-image: url('../../images/ClassPic9.webp');
    background-size: cover;
    text-align: center;
    font-size: 5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px slategray;
}

/* laptop and tablet */
@media (max-width:1030px) {
    #our-classes-hero-container {
        height: 30vw;
        font-size: 7.3vw;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

/* mobile portrait */
@media (max-width:500px) {
    #our-classes-hero-container {
        height: 50vw;
        font-size: 7.3vw;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}