@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

#our-classes-hero-container {
    margin-top: 0.4rem;
    background-color: pink;
    height: 26.2rem;
    padding-top: 0rem;
    background-image: url('../../images/ClassPic9.webp');
    background-size: cover;
    text-align: center;
    font-size: 5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px slategray;
}
