@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Raleway:wght@600&display=swap');

#our-classes-intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Mulish', sans-serif;
}

#our-classes-intro-box {
    display: flex;
    flex-direction: row;
    width: 58.5rem;
    padding: 1rem;
    color: darkred;
    gap: 0.8rem;
}

#our-classes-intro-image {
    height: 18.5rem;
    border-radius: 25px;
}

#our-classes-intro-title {
    font-size: 2.5rem;
    font-weight: bold;
}

#our-classes-intro-text {
    font-size: 1.3rem;
    font-weight: bold;
    padding-top:0.5rem;
}