@font-face {
    font-family: chineseFont;
    src: url('../../styles/fonts/SentyWEN2017.ttf');
}

#our-classes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5rem 0rem 3rem 0rem;
    background-size: contain;

}

.class-level-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 59.3rem;
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
    gap: 0.5rem;
    color: darkgreen;
}

.class-level-picture {
    width: 29rem;
    border-radius: 25px;
}

.class-level-info-text {
    font-size: 1.3rem;
}

#our-classes-container.chinese {
    font-family: 'chinesefont';
}

.class-level-info-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: darkred;
}

/* mobile portrait */
@media (max-width:1030px) {
    #our-classes-container {
        gap: 7vw;
        padding: 7vw 0 4vw 0;
    }

    .class-level-item {
        display: flex;
        flex-direction: column-reverse;
        width: 80vw;
        padding: 5vw;
        gap: 2vw;
        text-align: center;
        align-items: center;
    }

    .class-level-picture {
        width: 80vw;
    }

    .class-level-info-title {
        font-size: 6vw;
    }

    .class-level-info-text {
        font-size: 3vw;
    }
}

/* mobile portrait */
@media (max-width:500px) {
    #our-classes-container {
        gap: 5vw;
        padding: 0;
    }

    .class-level-item {
        display: flex;
        flex-direction: column-reverse;
        width: 80vw;
        padding: 5vw;
        gap: 5vw;
        text-align: center;
        align-items: center;
    }

    .class-level-picture {
        width: 80vw;
    }

    .class-level-info-title {
        font-size: 10vw;
    }

    .class-level-info-text {
        font-size: 5vw;
        padding-top: 1rem;
    }
}