@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.contact-us-hero-container {
    background-image: url(../../images/ClassPic14.webp);
    background-size: cover;
    height: 18.5rem;
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.contact-us-hero-text {
    color: darkblue;
    font-size: 3.5rem;
}