.contact-us-body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.contact-us-body-left {
    display: grid;
    gap: 2rem;
    padding: 1rem;
}

.contact-us-body-left-text {
    display: grid;
    gap: 1.5rem;
}

.contact-us-body-left-form {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 25px;
    width: 36.5rem;
}

.contact-us-body-title {
    text-align: center;
    font-size: 2.25rem;
    color: darkblue;
}

.contact-us-body-subtitle {
    text-align: center;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: darkblue;
    width: 16rem;
}

input.form-input, select.form-input, textarea.form-input {
    background-color: lightgray;
    padding: 1rem;
    border-radius: 25px;
    border: none;
}

input.form-input:hover, input.form-input:focus, select.form-input:hover, select.form-input:focus, textarea.form-input:hover, textarea.form-input:focus {
    background-color: white;
    border: black solid 1px;
}

button.contact-us-submit {
    background-color: darkblue;
    color: white;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    width: 10rem;
    font-weight: bold;
}

.message-box {
    grid-column: 1 / 3;
    width: 90%;
}

.contact-us-body-right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.contact-us-body-right-item {
    background-color: darkblue;
    padding: 1.5rem;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.contact-us-body-right-item-title {
    font-size: 1.25rem;
    font-weight: bolder;
    color: white;
}

/* mobile portrait */
@media (max-width:1030px) {
    .contact-us-body-container {
        flex-direction: column;
        gap: 3vw;
    }

    .contact-us-body-left {
        gap: 4vw;
        padding: 3vw;
    }

    .contact-us-body-left-text {
        gap: 3vw;
    }

    .contact-us-body-title {
        font-size: 5vw;
    }

    .contact-us-body-left-form {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .form-item {
        width: 80vw;
    }

    button.contact-us-submit {
        width: 80vw;
    }

    .contact-us-body-right {
        display: flex;
        flex-direction: row;
        gap: 3vw;
        padding-bottom: 4vw;
    }

    .contact-us-body-right-item {
        font-size: 2vw;
        width: 20vw;
    }
}

/* mobile portrait */
@media (max-width:500px) {
    .contact-us-body-container {
        flex-direction: column;
        gap: 3vw;
    }

    .contact-us-body-left {
        gap: 4vw;
        padding: 3vw;
    }

    .contact-us-body-left-text {
        gap: 3vw;
    }

    .contact-us-body-title {
        font-size: 6.5vw;
    }

    .contact-us-body-left-form {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .form-item {
        width: 80vw;
    }

    button.contact-us-submit {
        width: 80vw;
    }

    .contact-us-body-right {
        display: flex;
        flex-direction: row;
        gap: 3vw;
        padding-bottom: 4vw;
    }

    .contact-us-body-right-item {
        font-size: 2vw;
        width: 20vw;
    }
}