.contact-us-hero-container {
    background-image: url(../../images/ClassPic14.webp);
    background-size: cover;
    height: 25vw;
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
    justify-content: center;
}

.contact-us-hero-text {
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 10vw;
    text-align: center;
}

/* mobile portrait */
@media (max-width:500px) {
    .contact-us-hero-container {
        height: 50vw;
        background-position: 35%;
    }

    .contact-us-hero-text {
        font-size: 9vw;
    }
}