@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.contact-us-hero-container {
    background-image: url(../../images/ClassPic14.webp);
    background-size: cover;
    height: 18.5rem;
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.contact-us-hero-text {
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 5.5rem;
    text-align: center;
}

/* mobile portrait */
@media (max-width:500px) {
    .contact-us-hero-container {
        height: 50vw;
    }

    .contact-us-hero-text {
        font-size: 9vw;
    }
}