@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

#our-team-hero-container {
    margin-top: 0.4rem;
    height: 29.6rem;
    background-color: pink;
    background-image: url(../../images/ClassPic8.webp);
    background-size: cover;
    display: flex;
    justify-content: right;
    padding-right: 4rem;
    color: darkblue;
    text-shadow: white 0px 0px 5px;
    font-size: 8rem;
    font-family: 'Montserrat', sans-serif;
}