@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

#our-team-hero-container {
    margin-top: 0.4rem;
    height: 29.6rem;
    background-color: pink;
    background-image: url(../../images/ClassPic8.webp);
    background-size: cover;
    display: flex;
    justify-content: right;
    padding-right: 4rem;
    color: white;
    text-shadow: black 2px 2px 6px;
    font-size: 8rem;
    font-family: 'Montserrat', sans-serif;
}

/* mobile portrait */
@media (max-width:500px) {
    #our-team-hero-container {
        height: 50vw;
        padding: unset;
        font-size: 7.3vw;
        align-items: center;
        justify-content: center;
    }
}