#english-our-team-info-container {
    margin-top: 5.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#english-our-team-info-image {
    border-radius: 25px;
}

#english-our-team-info-text-box {
    width: 27rem;
    text-align: center;
}

#english-our-team-info-title {
    font-size: 2.5rem;
    color: darkred;
}

#english-our-team-info-text {
    padding-top: 0.8rem;
    font-size: 1.4rem;
    color: darkgreen;
}