@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Raleway:wght@600&display=swap');

#our-team-info-container {
    margin-top: 5.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'Mulish', sans-serif;
}

#our-team-info-image {
    border-radius: 25px;
}

#our-team-info-text-box {
    width: 27rem;
    min-width: 27rem;
    text-align: center;
}

#our-team-info-title {
    font-size: 2.5rem;
    color: darkred;
    text-shadow: 2px 2px 4px slategray;
}

#our-team-info-text {
    padding-top: 0.8rem;
    font-size: 1.3rem;
    color: darkgreen;
}

/* mobile portrait */
@media (max-width:500px) {
    #our-team-info-container {
        flex-direction: column-reverse;
        justify-items: center;
        margin: unset;
        gap: 3vw;
        
    }

    #our-team-info-text-box {
        width: 70vw;
        min-width: none;
    }

    #our-team-info-title {
        font-size: 9vw;
    }

    #our-team-info-text {
        font-size: 5vw;
    }
}