@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Raleway:wght@600&display=swap');

#home-body-container {
    padding-top: 8rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.home-body-item {
    display: flex;
    flex-direction: column;
    width:20rem;
    align-items: center;
    text-align: center;
}

.home-body-image {
    border-radius: 50%;
}

.home-body-title {
    font-size: 1.6rem;
    font-weight: bold;
    color:  rgb(34, 70, 187);
    font-family: 'Mulish', sans-serif;
}

.home-body-text {
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Mulish', sans-serif;
}