#hero-wrapper {
    display: flex;
    background-color: lightgray;
    height:44vh;
    justify-content: center;
}

#hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:23.3rem;
    background-color: lightgray;
    background-image: url('../../images/SkylineBG.webp');
    background-position: 150% 50%;
    background-size: cover;
    resize:both;
}

#hero-logo {
    padding-top: 1.9rem;
    padding-bottom: 1.5rem;
    justify-content: left;
}

#hero-title {
    display: flex;
    padding-top: 3.5vh;
    height: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 4rem;
    grid-column: 1 / 4;
}