#home-body-container {
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.home-body-item {
    display: flex;
    flex-direction: column;
    width:20rem;
    align-items: center;
    text-align: center;
}

.home-body-image {
    border-radius: 50%;
}

.home-body-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(75, 75, 197);
}

.home-body-text {
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1.39rem;
}