@font-face {
    font-family: chineseFont;
    src: url('../../styles/fonts/SentyWEN2017.ttf');
}

#home-lower-hero-container {
    background-image: url('../../images/ClassPic4.webp');
    background-size: cover;
    height: 22rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2.2rem;
    padding-left:10vw;
    margin-top: 1.6rem;
}

#home-lower-hero-text {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px black;
}

#home-lower-hero-text.chinese {
    font-family: chineseFont;
}

/* mobile portrait */
@media (max-width:500px) {
    #home-lower-hero-container {
        height: 45vw;
        padding: unset;
        margin: unset;
    }

    #home-lower-hero-text {
        font-size: 12vw;
        text-align: center;
    }
}