@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@font-face {
    font-family: chineseFont;
    src: url('../../styles/fonts/SentyWEN2017.ttf');
}

#hero-wrapper {
    display: flex;
    background-color: lightgray;
    height:44vh;
    justify-content: center;
}

#hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:23.3rem;
    background-color: lightgray;
    background-image: url('../../images/SkylineBG.webp');
    background-position: 150% 50%;
    background-size: cover;
    resize:both;
}

#hero-logo {
    padding-top: 1.9rem;
    padding-bottom: 1.5rem;
    justify-content: left;
}

#hero-title {
    display: flex;
    padding-top: 3.5vh;
    height: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 4rem;
    grid-column: 1 / 4;
    text-shadow: 2px 2px 4px black;
    color: white;
}

#hero-title.english {
    font-family: 'Montserrat', sans-serif;
}

#hero-title.chinese {
    font-family: chineseFont;
}

/* mobile portrait */
@media (max-width:500px) { 
    #hero-wrapper {
        height: 50vw;
        align-items: center;
    }

    #hero-container {
        height: 50vw;
        background-position: 30% 0%;
    }

    #hero-logo {
        display: none;
    }

    #hero-title {
        font-size: 7.3vw;
        grid-row: 2/3;
    }

   
}