@font-face {
    font-family: chineseFont;
    src: url('../../styles/fonts/SentyWEN2017.ttf');
}

#home-cta-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    background-color: rgb(34, 70, 187);
    justify-content: center;
    align-items: center;
    height: 15rem;
    padding-left: 7rem;
    padding-right: 7rem;
    gap: 3rem;
}

#home-cta-text {
    font-size: 2.5rem;
    min-width: 20rem;
    display: flex;
    flex-direction: row;
}

.chinese-home-cta-text {
    display: flex;
    flex-direction: row;
}

#home-cta-text.chinese {
    font-family: chineseFont;
}

#home-cta-email-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-cta-email-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 3rem;
    width: 27rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    border-radius: 1.5rem;
    border: red solid 2.5px;
    box-shadow: 0px 0px 15px white;
}

#home-cta-email-input {
    outline: none;
    border: none;
    height: 2.5rem;
    width: 15rem
}

#home-cta-submit-button {
    color:white;
    background-color: darkred;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;
}

#home-cta-email-subtext {
    text-align: center;
    padding-top: 3rem;
}

/* laptop  */
@media (max-width:1030px) {
    #home-cta-container {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: unset;
        height: 30vw;
        gap: 4vw;
        justify-content: center;
    }

    #home-cta-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 4vw;
        padding-top: 2vw;
    }

    #home-cta-email-container {
        height: 5vw;
        width: 70vw;
    }

    #home-cta-email-input{
        height: 4vw;
        width: 50vw;
    }

    #home-cta-submit-button {
        font-size: 2vw;
        padding: unset;
        height: 4vw;
        padding: 0vw 6vw 0vw 6vw;
        margin-right: -.1em;
    }

    #home-cta-email-subtext {
        font-size: 3vw;
        padding-top: 2vw;
        
    }
}

/* mobile portrait */
@media (max-width:500px) {
    #home-cta-container {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: unset;
        height: 40vw;
        gap: 4vw;
    }

    #home-cta-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 6vw;
        padding-top: 2vw;
    }

    #home-cta-email-container {
        height: 8vw;
        width: 70vw;
    }

    #home-cta-email-input{
        height: 6vw;
        width: 50vw;
    }

    #home-cta-submit-button {
        font-size: 4vw;
        padding: unset;
        height: 9vw;
        padding: 0vw 6vw 0vw 6vw;
        margin-right: -2.8vw;
    }

    #home-cta-email-subtext {
        font-size: 4vw;
        padding-top: 2vw;
        
    }
}
