@font-face {
    font-family: chineseFont;
    src: url('../../styles/fonts/SentyWEN2017.ttf');
}

#hero-wrapper {
    display: flex;
    background-color: lightgray;
    justify-content: center;
}

#hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: 25vw;
    background-color: lightgray;
    background-image: url('../../images/SkylineBG.webp');
    background-position: 100% 50%;
    background-size:cover;
}

#hero-container.about-us-page {
    background-image: url(../../images/ClassPic5.webp);
}

#hero-container.our-team-page {
    background-image: url(../../images/ClassPic8.webp);
}

#hero-container.our-classes-page {
    background-image: url('../../images/ClassPic9.webp');
}

#hero-container.contact-us-page {
    background-image: url(../../images/ClassPic14.webp);
}

#hero-container.about-us-page>#hero-logo, #hero-container.our-team-page>#hero-logo, #hero-container.our-classes-page>#hero-logo, #hero-container.contact-us-page>#hero-logo {
    opacity: 0;
}

#hero-logo {
    margin-top: 2vw;
    padding-top:1vw;
    margin-bottom: 3vw;
    padding-left: 1vw;
    padding-right: 5vw;
    justify-content: left;
    border-radius: 0 10vw 10vw 0;
    width: 30vw;
}

#hero-title {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 7vw;
    grid-column: 1 / 4;
    text-shadow: 2px 2px 4px black;
    color: white;
}

#hero-title.chinese {
    font-family: chineseFont;
    padding-bottom: 6vw;
}
/* Laptop */
@media (max-width:1030px) { 
    #hero-wrapper {
        align-items: center;
    }

    #hero-title {
        grid-row: 2/3;
    }
   
}

/* Tablet */
@media (max-width:780px) { 
    #hero-wrapper {
        align-items: center;
    }

    #hero-title {
        grid-row: 2/3;
    }
   
}

/* mobile portrait */
@media (max-width:500px) { 
    #hero-wrapper {
        height: 50vw;
        align-items: center;
    }

    #hero-container {
        height: 50vw;
        background-position: 30% 0%;
    }

    #hero-logo {
        display: none;
    }

    #hero-title {
        font-size: 11vw;
        grid-row: 2/3;
    }

   
}

