#home-lower-hero-container {
    background-image: url('../../images/ClassPic4.webp');
    background-size: cover;
    width: 100vw;
    height: 22rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2.2rem;
    padding-left:10vw;
    margin-top: 1.6rem;
}

#home-lower-hero-text {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}