#english-our-classes-class-times-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#english-our-classes-class-times-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

#english-our-classes-class-times-title {
    font-size: 2.8rem;
    font-weight: bold;
    color: darkred;
}

.class-time {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: lightblue;
    padding: 1rem;
    border-radius: 15px;
}

.class-days {
    font-size: 1.5rem;
    color: darkred;
    font-weight: bold;
}

.class-duration {
    color: darkblue;
    font-weight: bold;
    font-size: 1.25rem;
}