#english-our-classes-hero-container {
    margin-top: 0.4rem;
    background-color: pink;
    height: 26.2rem;
    padding-top: 0rem;
    background-image: url('../../../images/ClassPic9.webp');
    background-size: cover;
    text-align: center;
    font-size: 5rem;
    color: white;
}
